{% extends 'base.html.twig' %}

{% block title %}
{{serie.name}} |{{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{serie.name}}</h2>
    <div>Genre : {{ serie.genres }}</div>
    <div>Descriptif de la série : <br> {{ serie.overview }}</div>
    <div>Vote: {{ serie.vote }}</div>
    <div>Popularité: {{ serie.popularity }} /500</div>
    <div>Statut de la série : {{ serie.status }}</div>


{% endblock %}

