<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0,">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Series!{% endblock %}</title>
    {# on laisse un titre par défaut qd même au cas ou on oublie de remplacer le titre sur une page. Cela permet aussi
    de l'appliquer sur une page "enfant"#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/icon.png') }}">

</head>
<body>
<header>
    <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}" alt="logo du site series">Series</a></h1>
    {% include('inc/nav.html.twig') %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {% include('inc/nav.html.twig') %}
    <div>&copy; {{ "now"|date("Y") }} Series!</div>
</footer>





</body>
</html>
